@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 8px $shadow-sm;
  border-bottom: 1px solid $border-light;
}
