# swagger.yaml
openapi: 3.0.0
info:
  title: Api docs
  version: 1.0.0
  description: esteban api docs

servers:
  - url: http://localhost:3000

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
